<h1>Listing suppliers</h1>

<table class="table table-bordered">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Status</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%= supplier.fname %></td>
    <td><%= supplier.lname %></td>
    <td><%= supplier.status %></td>
    <td><%= supplier.city %></td>
    <td><button class="btn btn-info"><%= link_to 'Show', supplier %></button></td>
    <td><button class="btn"><%= link_to 'Edit', edit_supplier_path(supplier) %></button></td>
    <td><button class="btn btn-warning"><%= link_to 'Destroy', supplier, confirm: 'Are you sure?', method: :delete %></button></td>
  </tr>
<% end %>
</table>

<br />

<button class="btn btn-info"><%= link_to 'New Supplier', new_supplier_path %></button>
